.panel{
  .content{
    animation-duration: 0.25s;
   transition-timing-function: ease-in;
   animation-fill-mode: both;
  }
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
}
